.App{
    display: flex;
  }
  
.izquierda {
    text-align: center;
    width: 30vw;
    background-color:#D9ECF2;
    height:100vh;
    position: relative;
}
  
.contorno{
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    font-family: "Cormorant Garamond";
}
  
.logo{
    margin-top: 25%;
    width: 100%;
}

.logo:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.derecha{
    text-align: center;
    width: 70vw;
    position: absolute;
    top: 40%;
    left: 30%;
    right: 40%;
    font-family: "Cormorant Garamond";
}
  
.form{
    margin: 2%;
}
  
.boton{
    background-color: #73B3BB;
    border-radius: 10px;
    width: 10%;
    font-family: "Cormorant Garamond";
    margin-top: 2%;
    padding: 1%;
    text-decoration:none;
    color: black;
}

.boton:hover {
    color: #73B3BB;
    transition: color 0.3s ease;
    background-color: white;
    border: 1px solid #73B3BB;
}
  
input{
    width: 50%;
    height: 5vh;
    border-radius: 10px;
}

.form input:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
}