.App{
    display: flex;
  }
  
.izquierda {
    text-align: center;
    width: 30vw;
    background-color:#D9ECF2;
    height:100vh;
    position: relative;
}
  
.contorno{
    position: absolute;
    left: 5%;
    right: 5%;
    font-family: "Cormorant Garamond";
}

.menu{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 34%;
    font-family: "Cormorant Garamond";
}
  
.logo{
    width: 70%;
}
  
.derecha{
    text-align: center;
    width: 70vw;
    height:100vh;
    position: relative;
}

h2, h4{
    margin: 2%;
}

.boton{
    background-color: #73B3BB;
    border-radius: 15px;
    font-family: "Cormorant Garamond";
    margin-top: 2%;
    padding: 5%;
    display: block;
    text-decoration:none;
}

.header{
    height: 15vh;
    display: flex;
}

.centro{
    margin: 5%;
}

.usuarioFoto{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 3%;
    border: 2px solid black;
}

.formuladioPerfil{
    margin-top: 5%;
}

.preguntasQuiz{
    margin-top: 2%;
}

.form-select{
    margin-top: 2%;
    margin-bottom: 3%;
}

.botonPerfil{
    background-color: #73B3BB;
    border-radius: 15px;
    font-family: "Cormorant Garamond";
    margin:0px auto;
    padding: 1%;
    text-decoration:none;
}

.contornoBoton{
    text-align: center;
    margin-top: 2%;
}

.header {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
  
.usuarios {
    display: inline-block;
    margin-right: 10px;
}
  
.usuarioFoto {
    width: 100px;
    height: 100px;
    object-fit: cover;
}